// A JSON file with environment variables used by `serve_responder_aws` for local development

{
    "Function": {
        "stello_env": "development",
        "stello_version": "dev",
        "stello_msgs_bucket": "...",
        "stello_topic_arn": "arn:aws:sns:...",
        "stello_region": "...",
        "stello_rollbar_responder": "...",
        "stello_domains": ""
    }
}
