
/tsconfig.json
/.venv/

/app/.env.development.local
/app/dist/
/app/node_modules/
/app/src/assets/displayer/
/app/src/services/native.ts

/app_config/node_modules/

/electron/node_modules/
/electron/dist/
/electron/app_dist

/displayer/index.html
/displayer/dist/
/displayer/node_modules/
/displayer/public/dev/

/responder/aws/.aws-sam/
