
/.venv/

/app/.env.development.local
/app/dist/
/app/node_modules/
/app/src/assets/displayer.tar
/app/src/services/native/native.ts

/app_config/node_modules/

/electron/node_modules/
/electron/dist/
/electron/app_dist

/displayer/dist/
/displayer/node_modules/
/displayer/public/dev/
/displayer/public/assets/reactions/

/responder/aws/.aws-sam/
/responder/aws/.dev_env.json
/responder/aws/.dev_env_key
