doctype html
html

    head
        meta(charset='utf-8')

        //- SECURITY (mainly for self-hosted as already set via HTTP headers otherwise)
        meta(name='referrer' content='no-referrer')
        meta(name='robots' content='none')
        //- WARN Keep CSP in sync with hosted setup HTTP header
        if PROD
            meta(http-equiv='Content-Security-Policy' content=`
                form-action 'none';
                base-uri 'none';
                default-src 'none';
                img-src 'self' blob:;
                script-src 'self';
                style-src 'self' 'sha256-ZtAi/ysjZm0xsuCDCNS2IFcwQkmxUd12Cy5r4DuHrME=';
                connect-src 'self' https:;
                frame-src https://www.youtube-nocookie.com https://player.vimeo.com;
            `)

        //- Display
        meta(name='viewport' content='user-scalable=no, width=device-width, initial-scale=1')
        title Loading message...
        link(rel='icon' href='displayer/icon.png')

        //- Add a light blue theme color, just to stand out from other tabs (not configurable)
        meta(name='theme-color' content='#b3e5fc')

        style
            :sass
                // BASIC STYLING
                html
                    background-color: #111111  // Don't have access to dark setting on initial load
                    @media print
                        background-color: #fff !important
                    font-family: sans-serif
                    // Enable momentum scroll for iOS
                    -webkit-overflow-scrolling: touch

                body
                    margin: 0
                    overflow-x: hidden  // Avoid showing horizontal scrollbar during transitions


                // LOADING SCREEN
                @keyframes loading
                    from
                        transform: rotate(0deg)
                    to
                        transform: rotate(360deg)

                #app > svg.loading
                    // Not reusable in other parts of app
                    position: absolute
                    top: 46%
                    left: 46%

                svg.loading
                    height: 50px
                    width: 50px
                    animation-name: loading
                    animation-duration: 2.5s  // NOTE need to adjust steps if this changes
                    // NOTE 60's quality close to linear, and ~1/2 CPU usage
                    animation-timing-function: steps(60)
                    animation-iteration-count: infinite

                svg.loading circle
                    fill: transparent
                    stroke: #2196f3


                // FAILURE
                .fail-splash
                    // Display full screen
                    position: fixed
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                    // Cover all
                    z-index: 1000
                    // Scroll if needed
                    overflow: auto
                    // Style
                    padding: 20px
                    padding-top: 80px
                    background-color: #303030
                    color: #fff
                    text-align: center

                    h1
                        margin-bottom: 20px
                        font-size: 25px

                    button
                        margin-top: 40px

                .fail-bar
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 12px
                    background-color: rgba(100%, 75%, 50%)

                    div
                        word-break: break-word
                        margin-right: 12px

                        h1
                            font-size: 14px
                            margin-top: 0
                            margin-bottom: 6px

                        p
                            margin: 0
                            font-size: 12px

                .fail-splash, .fail-bar
                    button
                        background-color: #fff
                        color: #000
                        border-style: none
                        border-radius: 6px
                        padding: 6px 8px
                        cursor: pointer
                        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2)


        //- Define scripts (execute in order after body parsed since module defaults to defer)
        //- NOTE unsupported script in public dir so URL preserved, init script relative to src
        //- NOTE Vite processes URLs relative to where index.html is (not index.pug)
        script(src='/displayer/unsupported.js' defer)
        script(src='/src/init/init.ts' type='module')


    body
        div#app
            //- Simplified low-CPU-cost Material progress circle (proportions same)
            svg.loading(viewBox='0 0 100 100' preserveAspectRatio='xMidYMid meet')
                //- Place in middle with radius 40 (stroke length of 250 surrounds whole circle)
                circle(cx='50' cy='50' r='40' stroke-width='10' stroke-dasharray='190')
