
@import './shared/shared_mixins'
@import './styles_mixins'

@import './shared/shared_styles'


.stello-displayer  // To match specificity of shared styles
    .btn-icon
        padding: 12px
        background-color: transparent
        border-radius: 50%

        img, svg
            display: block
            width: 24px
            height: 24px

            path
                fill: currentColor
