
@import 'src/shared/styles/utils'
@import 'src/shared/styles/displayer'


// Styles that aren't needed in app and might negatively affect app-specific things (like <input>)
.stello-displayer  // To match specificity of shared styles
    outline-style: none  // Outline may appear due to tabindex attr

    // Dark toggle button appears too low in displayer only (inline with .content's top)
    // For some reason app editor isn't affected, maybe due to invite editor above it
    display: grid  // Not actually doing anything with grid, just corrects dark toggle positioning
    .content
        width: 100%  // Required due to displayer being set to 'grid'

    @media (max-width: $stello_full_plus_sidebar)
        // Reduce padding when less than full width available
        --stello-gutter: 24px

    input, textarea
        box-sizing: border-box
        width: 100%
        padding: 12px
        border-radius: var(--stello-radius)
        border-style: none
        outline-style: none
        background-color: rgba(#888, 0.3)
        color: inherit
        font-size: 16px
        font-family: sans-serif

        &::placeholder
            // Inherit rather than having a solid grey color
            color: inherit
            opacity: 0.5
