
# Env vars needed for deploying host services and displayer

# Needed for AWS access (secret prompted for during deploy)
export AWS_ACCESS_KEY_ID=...

# Needed for building displayer
export VITE_ROLLBAR_DISPLAYER=...
export VITE_HOSTED_MSGS_URL=...

# Needed for knowing where to upload displayer
export STELLO_HOSTED_BUCKET=...
export STELLO_HOSTED_CF=...
