doctype html
html

    head
        //- Browser parsing and config
        meta(charset='utf-8')
        meta(name='viewport' content='user-scalable=no, width=device-width, initial-scale=1')

        //- Prevent error messages for favicon that can break tests
        link(rel='icon' href='data:,')

        //- SECURITY
        //- Only allow requests to self to guard against compromised dependencies etc
        //- All requests that require 3rd party are to use native method that isn't impacted by CORS
        //- NOTE Can't set as HTTP header due to using file protocol, so meta tag instead
        //- NOTE 'unsafe-inline' required for dynamic styling (e.g. bg image) but limited to self
        //- NOTE Youtube/Vimeo required in frames for video previews
        meta(http-equiv='Content-Security-Policy' content=`
            form-action 'none';
            default-src 'none';
            script-src 'self';
            connect-src 'self' ${VITE_HOSTED_API} https://*.amazonaws.com https://accounts.google.com https://oauth2.googleapis.com https://gmail.googleapis.com https://people.googleapis.com https://login.microsoftonline.com https://graph.microsoft.com;
            style-src 'self' 'unsafe-inline';
            img-src 'self' blob: data:;
            media-src 'self';
            font-src 'self';
            frame-src https://www.youtube-nocookie.com https://player.vimeo.com;
        `)

        //- Meta data
        title Stello

        //- Just give dark bg for the split second before rest of app and CSS loads
        style.
            html {
                background-color: #303030;
            }

    body
        div#app

        script(src='./src/init.ts' type='module')
