/* NOTE No need for woff etc since hosting locally */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(./roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(./roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(./roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(./roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(./roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url(./roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url(./roboto/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(./roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(./roboto/Roboto-RegularItalic.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url(./roboto/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(./roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url(./roboto/Roboto-BlackItalic.ttf);
}
